---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import { getCollection } from 'astro:content';
import FormattedDate from '../../src/components/FormattedDate.svelte';
import { listen } from 'svelte/internal';

const posts = (await getCollection('blog')).sort(
	(a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
);
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body class="bg-white dark:bg-nord0 dark:text-white">
		<Header title={SITE_TITLE} />
		<main>
			<h1 class="mb-10 text-nord12 font-bold text-3xl">Blog Posts</h1>

			<ul>
			{
				posts.map((post) => (
					<li class="mb-8">
						<article>
							<a href={`/blog/${post.slug}/`}>
								<h2 class="text-nord12 font-bold text-xl mb-2">{post.data.title}</h2>
								<FormattedDate date={post.data.pubDate} />
								<p class="text-nord4">{post.data.description}</p>
							</a>
						</article>
					</li>
				))
			}
			</ul>

		</main>
		<Footer />
	</body>
</html>
